body {
	background-image: url('../images/1827Map.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    padding-bottom:10px;
}
#containerInBody {
	padding-top: 10px;
	/* margin-right: 15px !important; */
	margin-left: 15px;
	margin-bottom:0;
}
#glass {
	width:600px;
	height:auto;
	position: absolute;
	top:0px;
}
#VTmap {
	width:90%;
	border: 2px solid black;
	padding: 10px;
	background-image: url("../images/beige.jpg");
}
#map {
	top:10px;
	left:10px;
	width:400px;
	height: 400px;
	border-radius:50%;
	border: 1 solid blue;
	z-index:0;
}
#carmen {
	width:75%;
}
#upperRightPanel {
	padding: 0;
	margin:0;
}
#direction-buttons button {
	width:40px;
	height:40px;
	padding: 2px;
	margin: 2px;
	font-size: 25px;
}
#direction-buttons div {
	display: flex;
	align-items: center;
}
#north, #east, #west, #south {
	color: green;
}
#northeast, #southeast, #southwest, #northwest {
	color: green;
}
#northeast i {
	transform: rotate(45deg);
}
#southeast i {
	transform: rotate(135deg)
}
#northwest i {
	transform: rotate(315deg)
}
#southwest i {
	transform: rotate(225deg)
}
#tinyEthan {
	width: 20px;
	height:auto;
	margin:0px;
}
#home {
	padding:2px;
	display: flex;
	align-content: center;
	justify-content: center;
}
.table-striped, .table, tr {
	margin: auto;
	width: 50% !important;
}
#modalTitle {
	text-align: center;
	font-family: cursive;
	font-size: 30px;
}
#direction-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid gray;
	border-radius: 10%;
	background: url("../images/beige.jpg");
	opacity: 1;
	position: absolute;
	top: 250px;
    left: 725px;
    margin-bottom:10px;
	width: 150px;
	height:150px;
}
#glass {
	filter: blur(.5px);
	filter: drop-shadow( -5px -5px 5px #000 );
	z-index: -1;
}
#zoom-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid gray;
	border-radius: 10%;
	background-image: url("../images/beige.jpg");
	opacity: 1;
	position: absolute;
	top: 450px;
	left: 480px;
	width: 50px;
	height:80px;
	transform: rotate(135deg);
	z-index: 3;
}
#score {
	width:90%;
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	background-image: url("../images/beige.jpg");
	font-size: 30px;
	color: black;
}
#info {
	width:90%;
	border: 2px solid black;
	margin: 10px;
	padding: 10px;
	background-image: url("../images/beige.jpg");
	z-index: 5;
}
#longitude, #latitude, #county, #town {
	font-weight:bold;
}
#longVal, #latVal, #countyVal, #townVal {
	font-weight: normal;
}
.leaflet-interactive{
	fill:none;
}
.modal-header {
	background-image: url("../images/beige.jpg")
}
#start{
	width:90%;
	border: 2px solid black;
	margin: 10px;
	padding: 5px;
	background-image: url("../images/blueGreen.jpg"), linear-gradient(rgb(238, 236, 236),rgb(231, 231, 231));
}
#guess {
	width:90%;
	border: 2px solid black;
	margin: 10px;
	padding: 5px;
	background-image: url("../images/yellow.jpg");
}
#quit {
	width:90%;
	border: 2px solid black;
	margin: 10px;
	padding: 5px;
	background: url("../images/pink.jpg");
}
#buttons {
	display: flex;
	justify-content: center;
    flex-direction: column;
    background: url("../images/beige.jpg");
    border: 2px solid black;
    margin:5px;
    padding:5px;
}

#buttons button {
	width: 175px;
	margin: 10px;
	color: rgb(7, 40, 80);
	font-size:20px;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-text-stroke: 1px black;
	font-variant: small-caps;
}

#buttons button:hover {
	background-color: green;
	color: white;
	font-weight: bold;
	-webkit-text-stroke: 1px black;
}
.nav-item, .nav-item a {
	width:90%;
	border: 2px solid black;
	background-image: url("../images/blueGreen.jpg"), linear-gradient(rgb(238, 236, 236),rgb(231, 231, 231));
	color: rgb(7, 40, 80);
	font-size:22px;
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-text-stroke: 1px black;
	font-variant: small-caps;
}
.nav-item {
	padding: 2px;
	margin: 5px;
}
.nav-item a {
	margin:0;
	padding: 5px;
	width:auto;
	overflow: hidden;
}
#youWon {
	display:none;
	text-align: center;
	font-size: 50px;
	color: #62a354;
}
#guessDiv button {
	width: 130px;
	margin:1px;
}
.btn-info {
	color: #fff;
	font-size:17px;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-text-stroke: 1px black;
	background-color: #17a2b8;
	border-color: #17a2b8;
	background-image: url("../images/blueGreen.jpg"), linear-gradient(rgb(238, 236, 236),rgb(231, 231, 231));
	padding:1px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin:2px;
}
.btn-info:hover {
	color: black;
	background-color: #17a2b8;
	border-color: #17a2b8;
	background-image: url("../images/blueGreen.jpg"), linear-gradient(rgb(238, 236, 236),rgb(231, 231, 231));
}
#youWon,#guessTown, #guessDiv, #scoreContainer, #aboutContainer, .modal-footer, #titleDiv {
	background-image: url("../images/beige.jpg")
}
#aboutTxt, #guessTown, #youWon, {
	padding: 30px;
	font-family: cursive;
}
#aboutTxt {
    padding: 15px;
}
#guessTown {
    padding-left:10px;
}
#headerDiv{
    display:flex;
    flex-direction: row;
    align-items: center;
}
#titleDiv {
    width:40%;
    max-height: 120px;
    border: black 2px solid;
    margin:10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    overflow: visible;
}
#ethanCorner{
    max-width: 150px;
    margin-left: 5px;
    margin-top: 5px;
}


#titleDiv h1 {
	text-align: center;
	font-family: cursive;
    font-size: 30px;
    width:180px;
    
}

#navBtns {
    width:60%;
}
