body {
    background-image: url('./1827Map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#containerInBody {
    padding-top: 20px;

}
.nav-item {
    margin: 10px;
}

#glass {
    width:600px;
    height:auto;
    position: absolute;
    top:0px;
}

#VTmap {
    width:90%;
    border: 2px solid black;
    padding: 10px;
    background-image: url("beige.jpg");
}

#map {
    top:10px;
    left:10px;
    width:400px;
    height: 400px;
    border-radius:50%;
    border: 1 solid blue;
    z-index:0;
}

#carmen {
    width:75%;
}

#upperRightPanel {
    /* margin-top: 20px; */
    padding: 0;
    margin:0;
}

 #direction-buttons button {
     width:40px;
     height:40px;
     padding: 2px;
     margin: 2px;
     font-size: 25px;
 }

 #direction-buttons div {
     display: flex;
     align-items: center;
 }

 #north, #east, #west, #south {
     color: green;
 }

 #northeast, #southeast, #southwest, #northwest {
    color: #62a354;
 }

 #northeast i {
    transform: rotate(45deg);
 }

 #southeast i {
    transform: rotate(135deg)
 }

 #northwest i {
    transform: rotate(315deg)
 }

 #southwest i {
    transform: rotate(225deg)
 }

 #tinyCarmen {
     width: 20px;
     height:auto;
 }



/* #navBtns a {
    background-image: url("pink.jpg");
    border: solid 1px black;
} */

#direction-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 10%;
    background: url("beige.jpg");
    opacity: 1;
    position: absolute;
    top: 450px;
    left: 125px;
    width: 150px;
    height:150px;
}
#glass {
    filter: blur(.5px);
    filter: drop-shadow( -5px -5px 5px #000 );
    z-index: -1;
}
#zoom-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 10%;
    background-image: url("beige.jpg");

    opacity: 1;
    position: absolute;
    top: 450px;
    left: 480px;
    width: 50px;
    height:80px;
    transform: rotate(135deg)
}

#score {
    width:90%;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-image: url("beige.jpg");
    font-size:  30px;
    color: black;   

}

#info {
    width:90%;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-image: url("beige.jpg");
    z-index: 5;
}

#buttons {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin: 0;
    padding: 0;
}

#start{
    width:90%;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background-image: url("blueGreen.jpg");
}

#guess {
    width:90%;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background-image: url("yellow.jpg");
}

#quit {
    width:90%;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background-image: url("pink.jpg");
}

#buttons button:first-of-type {
    margin-top: 20px;
}

#buttons button {
    width: 200px;
    margin-bottom: 20px;
    margin-top:0px;
    color: black;
    font-weight: bold;
}

#buttons button:last-of-type {
    margin-top: 0px;
}

#buttons button:hover {
    width: 200px;
    margin-bottom: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
}



#youWon {
    display:none;
    text-align: center;
    font-size: 50px;
    color: #62a354;
}

#guessBtn button {

width: 130px;
margin:1px;
}



